<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.orderinssystem">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderinSsystem"
        tools:targetApi="31">
        <activity
            android:name=".SignupActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>1
        </activity>
        <activity
            android:name=".LoginFirebase"
            android:exported="false" />
        <activity
            android:name=".Latte"
            android:exported="false" />
        <activity
            android:name=".BlackCoffee"
            android:exported="false" />
        <activity
            android:name=".MilkTea"
            android:exported="false" />
        <activity
            android:name=".SoyMilk"
            android:exported="false" />
        <activity
            android:name=".GreenTea"
            android:exported="false" />
        <activity
            android:name=".BlackTea"
            android:exported="false" />
        <activity
            android:name=".PorkEggcake"
            android:exported="false" />
        <activity
            android:name=".BeefEggcake"
            android:exported="false" />
        <activity
            android:name=".CheeseEggcake"
            android:exported="false" />
        <activity
            android:name=".PotatocakeEggcake"
            android:exported="false" />
        <activity
            android:name=".CronEggcake"
            android:exported="false" />
        <activity
            android:name=".OringinEggcake"
            android:exported="false" />
        <activity
            android:name=".DoublePorkBurger"
            android:exported="false" />
        <activity
            android:name=".KaraiDrumBurger"
            android:exported="false" />
        <activity
            android:name=".RoastPorkBurger"
            android:exported="false" />
        <activity
            android:name=".BeefBurger"
            android:exported="false" />
        <activity
            android:name=".ChickenChopBurger"
            android:exported="false" />
        <activity
            android:name=".ShrimpBuger"
            android:exported="false" />
        <activity
            android:name=".FishToast"
            android:exported="false" />
        <activity
            android:name=".DrumstickToast"
            android:exported="false" />
        <activity
            android:name=".PorkToast"
            android:exported="false" />
        <activity
            android:name=".BaconToast"
            android:exported="false" />
        <activity
            android:name=".VegetableToast"
            android:exported="false" />
        <activity
            android:name=".EggToast"
            android:exported="false" />
        <activity
            android:name=".SetMealA"
            android:exported="false" />
        <activity
            android:name=".SetMealB"
            android:exported="false" />
        <activity
            android:name=".SetMealC"
            android:exported="false" />
        <activity
            android:name=".SetMealD"
            android:exported="false" />
        <activity
            android:name=".SetMealE"
            android:exported="false" />
        <activity
            android:name=".SetMealF"
            android:exported="false" />
        <activity
            android:name=".ShoppingCar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>